<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <filter>
        <filter-name>FilterContentType</filter-name>
        <filter-class>ru.akaleganov.filter.FilterContentType</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterContentType</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>PriceServlet</servlet-name>
        <servlet-class>ru.akaleganov.controler.PriceServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PriceServlet</servlet-name>
        <url-pattern>/todolist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BacketLoadServlet</servlet-name>
        <servlet-class>ru.akaleganov.controler.BasketLoadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>BacketLoadServlet</servlet-name>
        <url-pattern>/basket</url-pattern>
    </servlet-mapping>

</web-app>